@font-face {
	font-family: "tonikfontitalic";
	src: url(../fonts/PPEditorialNew-UltralightItalic.otf) format("opentype");
}

@font-face {
	font-family: "tonikfont";
	src: url(../fonts/63740b48d59816cf50faa213_Aeonik-Regular.woff2) format("woff2");
}

/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
	/* startje */
	--color-htext:#000000;
	--color-broodtext:#666666;
	--color-whitetext:#ffffff;
	--color-background:#f5f5f5;

	--color-detailsborder:#dadada;

	--color-footerbackground:#000000;
	--color-navbackground: #000000;
	--color-buttonbackground: #ffffff;

	--color-navtext:#ffffff;
	--color-navbutton:#cdcdcd;

	--color-hover: rgb(56, 69, 210);
}

/****************/
/* JOUW STYLING */
/****************/

body {
	margin: 0;
	padding: 0;
	background-color: var(--color-background);
}

h1, h2, h3 {
	font-family: "tonikfont";
	margin: 0;
	color: var(--color-htext)
}

a {
	font-family: "tonikfont";
	margin: 0;
	text-decoration: none;
}

a:focus-visible {
	color: var(--color-hover);
}


p {
	font-family: "tonikfont";
	margin: 0;
	font-size: 1rem;
    line-height: 1.625;
	color: var(--color-broodtext)
}

video {
	height: 18em;
	width: 100%;
	object-fit: cover;
  }

summary {
	font-family: "tonikfont";
	font-size: 1rem;
    line-height: 1.625;
}

figure {
	margin: 0;
}

figcaption {
	font-family: "tonikfont";
	margin: 0;
	font-size: 1rem;
    line-height: 1.625;
	color: var(--color-broodtext)
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
  }

  body.scroll-lock {
	overflow: hidden;
  }


/****************
header
****************/

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	padding: 1.5em;
	z-index: 100;
}

header a img {
	height: 1.2em;
	width: auto;
}

header button {
	background-image: url("../images/menu.svg");
	background-repeat: no-repeat;
	padding: .9em;
	z-index: 100;
	border: none;
	background-color: transparent;
}

header nav {
	background-color: var(--color-navbackground);
	position: fixed;
	inset: 0;
	translate: 100% 0;
	transition: .3s;
	z-index: 99;
}

header nav.open {
  translate: 0 0;
}

header nav ul {
	list-style: none;
	text-align: right;
	position: fixed;
	right: 1.5em;
	bottom: 6.5em;
}

header nav a {
	text-decoration:none;
	color: var(--color-navtext);
    font-size: 1.18em;
    line-height: 2.6;
	font-weight: 200;
}

/****************
footer
****************/

footer > div:nth-of-type(1) {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--color-footerbackground);
	padding: 2em 0 6em 0;
}

footer div:nth-of-type(1) nav ul {
	display: flex;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

footer div:nth-of-type(1) p {
	padding: 0 0 0 1.5em;
	margin: 0;
	font-size: .8em;
}

footer div:nth-of-type(1) a {
	padding: 0 1.5em 0 0;
	margin: 0;
	font-size: .8em;
	color: var(--color-broodtext)
}


/*************************************************************
==========================desktop=============================
*************************************************************/

@media (min-width: 770px) {
	header {
		display: flex;
		justify-content: start;
		align-items: center;
		position: static;
		top: 0;
		padding: 2em 3em 1.5em 3em;
		z-index: 100;
	}
	
	header button {
		display: none;
	}
	
	header nav {
		position: static;
		translate: 0 0;
		background-color: transparent;
		transition: none;
	}
	
	header nav ul {
		position: static;
		display: flex;
		padding: 0;
		margin: 0 0 0 5em;
		gap: 2em;
	}
	
	header nav a {
		text-decoration:none;
		color: var(--color-htext);
		font-size: .8em;
		line-height: 2.6;
		font-weight: 200;
	}
}